/**/
html {
  font-size: 18px;
  font-family: Helvetica;
}
h1, h2 {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
h3 {
  color: white;        /*NOTE find other h3s and make their colors deleted*/
  background-color: black;
}
.container {
  width: 960px;
}
/**/
header {
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;
}
header .container {
  display: flex;
}
header img {
  margin: 0 1rem 0 0.5rem;
  height: 1.5rem;
  align-self: center;
}
header h1 {
  margin: 0.66rem 0 0.66rem;
  font-weight: normal
}
/**/
.new-arrival {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 25rem;
  overflow: hidden;
}
.new-arrival .img-container {
  position: absolute;
  width: 100%;
  height: 25rem;
  left: 0;
  z-index: -10;
}
.new-arrival img {
  width: 100%;
  z-index: -10;
}
.new-arrival .container {
  margin-top: 9rem;
}
.new-arrival .content {        /*NOTE 26rem instead of 20rem because the redline rendered as if the padding wasn't apart of the 20rem*/
  width: 26rem;
  background: black;
}
.new-arrival h1 {
  padding: 2rem 0 0.25rem 3rem;
}
.new-arrival h2 {
  font-size: 2rem;
  padding: 0 0 2rem 3rem;
}
/**/
nav {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: firebrick;
  color: white;
}
nav h4 {
  display: none;
}
nav ul {
  display: flex;
  width: 960px;
  margin: 0.75rem;
  justify-content: space-between;
}
/**/
main {
  display: flex;
  justify-content: center;
  width: 100%;
}
main .container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
main .item {
  border: 4px solid black;
  width: 30%;
}
main .img-container {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
}
main img {
  height: auto;
  width: 100%;
}
main .text-container {
  display: flex;
  justify-content: center;
  background-color: black;
}
main h3 {
  color: white;
  padding: 0.5rem;
}
/**/
address {
  display: flex;
  justify-content: center;
  width: 100%;
}
address .container {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}
address .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
}
address .text-container {
  width: 100%;
}
address h3 {
  padding: 1rem 2rem 1rem 2rem;
}
/**/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  height: 5rem;
  background-color: black;
}
@media only screen and (max-width: 1024px) {
  /**/
  html {
    font-size: 16px;
  }
  .container {
    width: 60rem;
  }
  /**/
  .new-arrival img {
    width: auto;
    top: 0;
  }
  /**/
  nav ul {
    display: none;
  }
  nav h4 {
    display: block;
    margin: 0.75rem;
  }
  /**/
  main .main-item-glasses {
    display: none;
  }
  main .item {
    width: 47%;
  }
  main img {
    height: 100%;
    width: auto;
  }
}
@media only screen and (max-width: 470px) {
  /**/
  html {
    font-size: 14px;
  }
  .container {
    min-width: 200px;
  }
  /**/
  .new-arrival {
    height: 15rem;
  }
  .new-arrival .img-container {
    height: 15rem;
  }
  .new-arrival img {
    height: 20rem;
    width: 100%;
    min-width: 420px;
  }
  .new-arrival .container {
    margin-top: 10rem;
  }
  .new-arrival .content {        /*NOTE 26rem instead of 20rem because the redline rendered as if the padding wasn't apart of the 20rem*/
    width: 100%;
    background: black;
  }
  .new-arrival h1 {
    font-size: 0.77rem;
    padding: 1rem 0 0.25rem 2rem;
  }
  .new-arrival h2 {
    font-size: 1rem;
    padding: 0 0 1rem 2rem;
  }
  /**/
  main .container {
    justify-content: center;
  }
  main .item {
    width: 90%;
  }
  main .main-item-watch {
    display: none;
  }
  /**/
  address .container {
    flex-direction: column;
    align-items: center;
  }
  address .item {
    width: 90%;
  }
  address p {
    margin-bottom: 0.5rem;
  }
  /**/
  footer .container {
    width: 100%;
    text-align: center;
  }
}
